.pagPrinc
{
    @extend %flex-column-center;
    width: fit-content;
    margin: 100px 0px 100px 120px;

    .contenedorH1
    {
        background: rgb(5,128,31);
        background: linear-gradient(315deg, map-get($colores, verde75) 10%, map-get($colores, negro75) 80%);
        border-radius: 20px;
        padding: 30px;
        margin: 15px;
        width: 400px;

        h1
        {
            font-size: 35px;
            color: map-get($colores, letrablanca);
            font-weight: lighter;
            word-break: break-word;
        }
    }

    .botonReg
    {
        height: fit-content;
        width: fit-content;
        padding: 20px;
        background: map-get($colores, verde75);
        background: linear-gradient(315deg, map-get($colores, verde75) 60%, map-get($colores, negro75) 95%);
        border-radius: 25px;
        transition: all 0.8s;
        font-size: 35px;

        p
        {
            color: map-get($colores, letrablanca);
            font-size: 30px;

            a
            {
                color: map-get($colores, letrablanca);
                text-decoration: none;
            }   
        }
    }

    .botonReg:hover
    {
        transform: scale(1.2);
        background-color: rgba(5, 128, 31, 1);
    }
}