.formularioRegistro
{
    height: fit-content;
    width: fit-content;
    background-color: rgba(250, 215, 200, 0.75);
    box-shadow: 0px 1px 26px 6px map-get($colores, negro75);
    margin: 20px auto 70px auto;
    padding: 20px;
    border-radius: 30px;
    @include grid(repeat(0, 1fr), 1fr, 0)

    .formulario
    {
        margin: 20px;
        
        .inputForm
            {
                height: 30px;
                font-weight: 800;
            }
    }

    #novedadesP
    {
        font-weight: 800;
        font-size: 20px
    }

    .button
    {
        margin-left: 20px;
        font-weight: 800;
    }
}