.barraFooter
{
    height: fit-content;
    background-color: map-get($colores, negro75);
    position: fixed;
    bottom: 0;
    
    ul  
    {
        @extend %flex-row-center;

        li i
        {
            color: map-get($colores, letrablanca);
        }
    }


    .nav li:hover
    {
        transform: scale(0.9);
    }
}