.barraNav
{
    background-color: map-get($colores, negro75);
    font-family: 'Poppins', sans-serif;;

    .imgLogo
    {
        width: auto;
        height: 100px;
        transition: all 0.8s;
    }

    .imgLogo:hover
    {
        transform: scale(1.1);
    }

}

.navbar-light .navbar-nav .nav-link 
{
    color: map-get($colores, letrablanca);
    font-size: 25px;
    transition: all 0.8s;

}

.navbar-light .navbar-nav .nav-link:hover
{
    transform: scale(1.2);
    color: map-get($colores, letrablanca);
}    

.navbar-light .navbar-toggler-icon 
{
    background-image: url(../../Imagenes/menuhamb.png);
}
