@media only screen and (max-width: 1030px)
{
    
}


@media only screen and (max-width: 900px)
{
    .barraNav
    {
        height: fit-content;
    }
    
    .imgCards
    {
        width: 400px;
        height: 400px;
    }

    .quienesSomos
    {
        width: 80% !important;
    }

    .quienesSomos p
    {
        font-size: 18px !important;
    }

}

@media only screen and (max-width: 768px)
{
  
    .navbar-light .navbar-nav .nav-link
    {
        font-size: 20px;
    }

    .quienesSomos
    {
        padding: 15px;
    }
    
    .pagPrinc
    {
        margin: 100px auto;
    }

    .elementosNav
    {
        font-size: 10px;
    }
    .elementosNav li
    {
        margin: 15px;
    }

    
    .formularioRegistro
    {
        width: fit-content;
    }
    
    
    .mapa iframe
    {
        width: 400px !important;
        height: 350px !important;
    }
}

@media only screen and (max-width: 500px)
{
    
    .contactanos h1
    {
        font-size: 20px;
    }
    
    .infoContactanos h3
    {
        font-size: 10px !important;
    }
    
    .iconoContactanos
    {
        width: auto;
        height: 25px !important;
        margin-right: 5px;
    }

    .contenedorH1
    {
        width: fit-content !important;
        
        h1
        {
            font-size: 15px !important;
        }
    }

    
    .botonReg
    {
        p
        {
            font-size: 15px !important;
        }
    }
    
    .quienesSomos
    {
        margin-top: 50px ;

    } 

    .pQuienesomos p
    {
        font-size: 15px;
    }

    #novedadesP
    {
        font-size: 12px !important;
    }

    .button
    { 
        width: auto;
        height: 30px;
    }

}

@media only screen and (max-width: 450px)
{
    .mapa iframe
    {
        width: 250px !important;
        height: 200px !important;
    }

    .navbar-light .navbar-nav .nav-link
    {
        font-size: 15px;
    }

    .formulario
    {
        margin: 10px !important;
    }

    .inputForm
    {
        height: 25px !important;
    }

    .imgCards
    {
        width: 300px;
        height: 300px;
    }

    .carousel-item
    {
        height: 50vh;
    }
}

