*{
    margin: 0;
    padding: 0;
}

/* BODY */
body
{
    background-image: url(../Imagenes/imagen-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

/* Barra Navegacion */
.barraNav
{
    background-color: rgba(0, 0, 0, 0.75);
}

.imgLogo
{
    width: auto;
    height: 100px;
    transition: all 0.8s;
}

.imgLogo:hover
{
    transform: scale(1.1);
    
}


.navbar-light .navbar-nav .nav-link 
{
    color: white;
    font-size: 25px;
    transition: all 0.8s;
}


.navbar-light .navbar-nav .nav-link:hover
{
    transform: scale(1.2);
    color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../Imagenes/menuhamb.png);
}


/* HOME */
.pagPrinc
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: 100px 0px 100px 120px;
}

.contenedorH1
{
    background: rgb(5,128,31);
    background: linear-gradient(315deg, rgba(5,128,31,0.75) 10%, rgba(0,0,0,0.75) 80%);
    border-radius: 20px;
    padding: 30px;
    margin: 15px;
    width: 400px;
}

.contenedorH1 h1
{
    font-size: 35px;
    color: white;
    font-weight: lighter;
    word-break: break-word;
}

.botonReg
{
    height: fit-content;
    width: fit-content;
    padding: 20px;
    background: rgb(5,128,31);
    background: linear-gradient(315deg, rgba(5,128,31,0.75) 60%, rgba(0,0,0,0.75) 95%);
    border-radius: 25px;
    transition: all 0.8s;
    font-size: 35px;
    
}

.botonReg:hover
{
    transform: scale(1.2);
    background-color: rgba(5, 128, 31, 1);
}

.botonReg p
{
    color: white;
    font-size: 30px;
}

.botonReg p a
{
    color: white;
    text-decoration: none;
    
}

/* QUIENES SOMOS */
.quienesSomos
{
    height: fit-content;
    width: 50%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 215, 200, 0.75);
    border-radius: 25px;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.h1Quienesomos
{
    margin: 10px;

}


.pQuienesomos p
{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}


/* MARCAS */


.imgCards
{
    width: 500px;
    height: 500px;
    margin: 20px;
}

.carousel-item
{
    height: 70vh;
}

/* CONTACTO */

.contactanos
{
    height: fit-content;
    width: fit-content;
    background-color: rgba(250, 215, 200, 0.75);
    border-radius: 25px;
    margin: 40px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: center;
    
}

.contactanosH1 h1
{
    font-size: 30px;
    margin: 20px auto;
    font-weight: bolder;
}

.infoContactanos
{
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.infoContactanos h3
{
    font-size: 25px;
}

.iconoContactanos
{
    width: auto;
    height: 50px;
    margin-right: 10px;
}

.mapa iframe
{
    width: 600px;
    height: 450px;
}

/* REGISTRO */

.formularioRegistro
{
    height: 550px;
    width: 400px;
    background-color: rgba(250, 215, 200, 0.75);
    display: flexbox;
    flex-direction: column;
    margin: 40px auto;
    padding: 20px;
    align-content: center;
    border-radius: 30px;
}

.formulario
{
    margin: 20px;
}

#novedadesP
{
    font-weight: 800;
    font-size: 20px;
}

.inputForm
{
    height: 30px;
}

.button
{
    margin-left: 20px;
}

/* FOOTER */
.barraFooter
{
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    bottom: 0;
}

.nav li i
{
    color: white;
}

.nav li:hover
{
    transform: scale(0.9);
}


/* MEDIAS QUERIES */

@media only screen and (max-width: 1030px)
{
    
}


@media only screen and (max-width: 900px)
{
    .barraNav
    {
        height: fit-content;
    }
    
    .imgCards
    {
        width: 400px;
        height: 400px;
    }

}

@media only screen and (max-width: 768px)
{
  
    .navbar-light .navbar-nav .nav-link
    {
        font-size: 20px;
    }

    .quienesSomos
    {
        padding: 15px;
    }
    
    .pagPrinc
    {
        margin: 100px auto;
    }

    .elementosNav
    {
        font-size: 10px;
    }
    .elementosNav li
    {
        margin: 15px;
    }

    
    .formularioRegistro
    {
        width: fit-content;
    }
    
    
    .mapa iframe
    {
        width: 400px;
        height: 350px;
    }
}

@media only screen and (max-width: 500px)
{
    
    .contactanos h1
    {
        font-size: 20px;
    }
    
    .infoContactanos h3
    {
        font-size: 10px;
    }
    
    .infoContactanos .iconoContactanos
    {
        width: auto;
        height: 25px;
        margin-right: 5px;
    }

    .contenedorH1
    {
        width: fit-content;
    }

    .contenedorH1 h1
    {
       font-size: 15px;
    }
    
    .botonReg p
    {
        font-size: 15px;
    }
    
    .quienesSomos
    {
        margin-top: 50px ;

    } 

    .pQuienesomos p
    {
        font-size: 15px;
    }

    #novedadesP
    {
        font-size: 10px;
    }

}

@media only screen and (max-width: 450px)
{
    .mapa iframe
    {
        width: 250px;
        height: 200px;
    }

    .navbar-light .navbar-nav .nav-link
    {
        font-size: 15px;
    }


    .inputForm
    {
        height: 12px;
    }

    .imgCards
    {
        width: 300px;
        height: 300px;
    }

    .carousel-item
    {
        height: 50vh;
    }
}

